html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #1B1D22;
  color: rgba(255, 255, 255, 0.932);
}

.float{
  right:40px;
  position:fixed;
  height:60px;
  bottom:30px;
  z-index:100;
}

#caixaTexto {
  background: #fff;
  color: #000;
  position: fixed;
  width: 130px;
  bottom: 55px;
  right: 90px;
  font-size: 16px;
  line-height: 15px;
  padding: 10px;
  border-radius: 10px;
  border:1px solid #e2e2e2;
  z-index:100;
  visibility: hidden;
}

@media (max-width: 480px){
  #caixaTexto {
    display: none !important;
  }

  .float{
    right:20px;
    height:60px;
    bottom:30px;
  }
}